.main {
  font-family: sans-serif;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 40px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 60px;
  padding: 8px;
  width: 50%;
}

.button {
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
  padding: 8px;
}

.chat {
  --bg: #fff;

  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 20px 0 0;
  max-width: 850px;
  padding: 30px;
}

.bubble {
  border-radius: 6px;
  line-height: 24px;
  margin-bottom: 15px;
  max-width: 655px;
  padding: 10px 20px;
  position: relative;
  word-wrap: break-word;
}

.bubble p:first-child {
  margin: 0 0 1em;
}

.bubble p:last-child {
  margin: 1em 0 0;
}

.bubble p:first-child:last-child {
  margin: 0;
}

.bubble:before {
  width: 20px;
}

.bubble:after {
  width: 26px;
  background-color: var(--bg);
}

.bubble:before,
.bubble:after {
  position: absolute;
  bottom: 0;
  height: 25px;
  content: '';
}

.user {
  --user: lightblue;

  align-self: flex-end;
  background: var(--user);
}

.user:before {
  right: -7px;
  background: var(--user);
  border-bottom-left-radius: 16px 14px;
}

.user:after {
  right: -26px;
  border-bottom-left-radius: 10px;
}

.assistant {
  --assistant: pink;
  align-self: flex-start;
  background: var(--assistant);
}

.assistant:before {
  left: -7px;
  background-color: var(--assistant);
  border-bottom-right-radius: 16px 14px;
}

.assistant:after {
  left: -26px;
  border-bottom-right-radius: 10px;
}

.pending {
  --assistant: yellow;
}
